[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
fastapi = "*"
uvicorn = "*"
feedparser = "*"
alembic = "*"
passlib = {extras = ["bcrypt"],version = "*"}
sqlalchemy = "*"
pyjwt = "*"
python-multipart = "*"
pydantic = {extras = ["email"],version = "*"}
celery = "*"
pymysql = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
